<div class="card-container">
  <div class="card">

    <div class="card-header">
      <div class="title-CardHeader">Product List</div>
    </div>

    <div class="card-body">
      <p-table [value]="models">
        <ng-template pTemplate="header">
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Title</th>
            <th>Actions</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-model>
          <tr>
            <td>{{model.id}}</td>
            <td>{{model.name}}</td>
            <td>{{model.description}}</td>
            <td>{{model.title}}</td>
            <td class="actions-table">
              <app-product-delete
                [model]="model"
                (deleted)="onDeleted($event)">
              </app-product-delete>
              <button
                pButton
                pTooltip="Edit"
                icon="fas fa-pencil-alt"
                [routerLink]="['/dashboard/edit-product', model.id]"
              ></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
