<div class="card-container">
  <div class="card">
    <div class="card-header">
      <div class="title-CardHeader">
        {{titleLabel}}
      </div>
    </div>
    <div class="card-body">
      <form [formGroup]="userForm" (ngSubmit)="handlerSubmit()">

        <div class="form-inputs form-addEdit">
          <!--Credentials-->
          <div class="form-group">
            <label for="username1">Username *</label>
            <div class="input-group">
              <input
                id="username1"
                type="text"
                pInputText
                formControlName="username"
                placeholder="Username"
              />
              <div *ngIf="getFormControls.username.touched && getFormControls.username.invalid" class="text-danger">
                <div *ngIf="getFormControls.username.errors.required">Username is required.</div>
              </div>
            </div>

          </div>
          <div class="form-group">
            <label for="password1">{{passwordLabel}}</label>
            <div class="input-group">
              <p-password
                id="password1"
                formControlName="password"
                [toggleMask]="true"
                [feedback]=false
                placeholder="Password"
              ></p-password>
              <div *ngIf="getFormControls.password.touched && getFormControls.password.invalid" class="text-danger">
                <div *ngIf="getFormControls.password.errors.required">Password is required.</div>
              </div>
            </div>
          </div>

          <!--Contact-->
          <div class="form-group">
            <label for="name1">Name</label>
            <div class="input-group">
              <input
                id="name1"
                type="text"
                pInputText
                formControlName="name"
                placeholder="Name"
              />
            </div>
          </div>
          <div class="form-group">
            <label for="lastname1">Lastname</label>
            <div class="input-group">
              <input
                id="lastname1"
                type="text"
                pInputText
                formControlName="lastname"
                placeholder="Lastname"
              />
            </div>
          </div>
          <div class="form-group">
            <label for="phone1">Phone</label>
            <div class="input-group">
              <input
                id="phone1"
                type="text"
                pInputText
                formControlName="phone"
                placeholder="Phone"
              />
            </div>
          </div>
          <div class="form-group">
            <label for="email1">Email *</label>
            <div class="input-group">
              <input
                id="email1"
                type="text"
                pInputText
                formControlName="email"
                placeholder="Email"
              />
              <div *ngIf="getFormControls.email.touched && getFormControls.email.invalid" class="text-danger">
                <div *ngIf="getFormControls.email.errors.required">Email is required.</div>
                <div *ngIf="getFormControls.email.errors.email">Email invalid.</div>
              </div>
            </div>
          </div>

          <!--Role-->
          <div class="form-group">
            <label for="role1">Role *</label>
            <div class="input-group">
              <p-dropdown
                id="role1"
                [options]="roles"
                formControlName="role"
                optionLabel="name"
                placeholder="Role"
              ></p-dropdown>
              <div *ngIf="getFormControls.role.touched && getFormControls.role.invalid" class="text-danger">
                <div *ngIf="getFormControls.role.errors.required">Role is required.</div>
              </div>
            </div>
          </div>
        </div>

        <div class="form-actions">
          <p-button
            [label]="buttonLabel"
            type="submit"
            [disabled]="userForm.invalid"
          ></p-button>
          <div class="footer-separator"></div>
        </div>

      </form>
    </div>
  </div>
</div>
