<form [formGroup]="resetCodeForm" (ngSubmit)="sendResetCode()" class="reset-container">
  <div class="card">

    <div class="card-header">
      <i class="fas fa-user-circle login-icon"></i>
    </div>

    <div class="card-body">
      <div class="form-group">
        <label for="email1">Email</label>
        <input
          id="email1"
          type="text"
          aria-describedby="email1-help"
          pInputText
          formControlName="email"
          class="w-100"
        />
        <div *ngIf="getControl.email.touched && getControl.email.invalid" class="text-danger">
          <div *ngIf="getControl.email.errors.required">Email is required.</div>
          <div *ngIf="getControl.email.errors.email">Email not valid.</div>
        </div>
      </div>
    </div>

    <div class="card-footer">
      <p-button
        [style]="{'width':'100%', 'font-weight':'600'}"
        label="Send"
        type="submit"
        [disabled]="resetCodeForm.invalid || sending"
      ></p-button>
    </div>

  </div>
</form>

