.form-inputs .form-group label {
  display: inline-block;
  margin: 5px 0;
}

.form-inputs .form-group {
  margin: 5px 0;
}

.card-container .card {
  padding: 20px 0;
}
.card-body ::ng-deep .mat-step-text-label {
  font-size:1.25em;
}
