.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: var(--surface-800);
  color: var(--surface-0);
  padding: 0 20px;
}

.header-icon {
  font-size: 1.5em;
  cursor:pointer;
  padding: 16px;
}
