<div class="card-container">

  <div  class="text-loading" *ngIf="!roles">Loading...</div>

  <div class="card" *ngIf="roles">

    <div class="card-header">
      <div class="title-CardHeader">Role List</div>
    </div>

    <app-search (newSearch$)="onSearch($event)"></app-search>

    <div class="card-body card-body-list">
      <p-table [value]="roles">
        <ng-template pTemplate="header">
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Actions</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-role>
          <tr>
            <td>{{role.id}}</td>
            <td>{{role.name}}</td>
            <td>{{role.description}}</td>
            <td class="actions-table">
              <app-role-delete
                [role]="role"
                (deleted)="onDeleted($event)">
              </app-role-delete>
              <button
                pButton
                pTooltip="Edit"
                icon="fas fa-pencil-alt"
                [routerLink]="['/dashboard/edit-role', role.id]"
              ></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>

    <app-paging [page]="currentPage" (newPage$)="onPageChange($event)"></app-paging>

  </div>
</div>
