//Colors
$color-red: #FF0000;
$color-white: #FFFFFF;
$color-gray-dark: #495057;

//Fonts
$font-size-huge-double: 3em;
$font-size-huge: 1.5em;
$font-size-big: 1.25em;
$font-size-normal: 1em;
$font-size-small: 0.85em;

