.login-container {
  display: flex;
  justify-content: center;
}

.login-icon {
  font-size: 3rem;
  color: gray;
  display: flex;
  justify-content: center
}

.w-100 {
  width: 100%!important;
}

.p-field {
  margin: 10px 0;
}
