<div class="login-container">
  <p-card [style]="{width: '360px'}" styleClass="p-card-shadow">

    <i class="pi pi-user login-icon"></i>

    <div class="p-field">
      <label for="username1">Username</label>
      <input
        id="username1"
        type="username"
        aria-describedby="username1-help"
        pInputText [(ngModel)]="model.username"
        class="w-100"
      />
    </div>

    <div class="p-field">
      <label for="password1">Password</label>
      <p-password
        id="password1"
        [(ngModel)]="model.password"
        [toggleMask]="true"
        [inputStyle]="{'width':'100%'}"
        [style]="{'width':'100%'}"
        [feedback] = false
      ></p-password>
    </div>

    <ng-template pTemplate="footer">
      <p-button
        [style]="{'width':'100%'}"
        label="Login"
        (click)="login()"
      ></p-button>
    </ng-template>

  </p-card>

</div>

