<form [formGroup]="loginForm" (ngSubmit)="login()" class="login-container">
  <div class="card">

    <div class="card-header">
      <i class="fas fa-user-circle login-icon"></i>
    </div>

    <div class="card-body">
      <div class="form-group">
        <label for="username1">Username</label>
        <input
          id="username1"
          type="text"
          aria-describedby="username1-help"
          pInputText
          formControlName="username"
          class="w-100"
        />
        <div *ngIf="getControl.username.touched && getControl.username.invalid" class="text-danger">
          <div *ngIf="getControl.username.errors.required">Username is required.</div>
        </div>
      </div>
      <div class="form-group">
        <label for="password1">Password</label>
        <p-password
          id="password1"
          formControlName="password"
          [toggleMask]="true"
          [inputStyle]="{'width':'100%'}"
          [style]="{'width':'100%'}"
          [feedback]=false
        ></p-password>
        <div *ngIf="getControl.password.touched && getControl.password.invalid" class="text-danger">
          <div *ngIf="getControl.password.errors.required">Password is required.</div>
        </div>
      </div>
    </div>

    <div class="card-footer">
      <p-button
        [style]="{'width':'100%', 'font-weight':'600'}"
        label="Login"
        type="submit"
        [disabled]="loginForm.invalid"
      ></p-button>
    </div>

  </div>
</form>

