.login-container {
  display: flex;
  justify-content: center;
}


/**********************************************************************************
* Cards
/**********************************************************************************/
.card {
  width: 360px;
  height: 360px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
}
.card-header > i{
  font-size: 3.5em;
  display: flex;
  justify-content: center;
  color: rgba(0, 0, 0, 0.5);
}

.card-body{}
.card-footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
}


/**********************************************************************************
* Links
/**********************************************************************************/
#reset-password-link {
  text-decoration: none;
  margin: 5px  0;
  cursor: pointer;
  text-align: center;
  font-size: 0.9em;
}
#reset-password-link:hover{
  text-decoration: underline;
}
