/**********************************************************************************
* Links
/**********************************************************************************/
#reset-password-link {
  text-decoration: none;
  cursor: pointer;
  display: block;
  text-align: center;
  line-height: 2em;
}
#reset-password-link:hover{
  text-decoration: underline;
}
