.form-inputs .form-group label {
  display: inline-block;
  margin: 5px 0;
}

.form-inputs .form-group {
  margin: 5px 0;
}

/**********************************************************************************
* Reset Password Link
/**********************************************************************************/
#reset-password-link {
  text-decoration: none;
  cursor: pointer;
  display: block;
  text-align: center;
  line-height: 2em;
  font-size:0.85em;

}
#reset-password-link:hover{
  text-decoration: underline;
}
