.actions-table > button, .actions-table ::ng-deep .p-button{
  margin: 0 2px;
}

.card-container ::ng-deep .p-datatable table {
  border-collapse: collapse;
  table-layout: auto;
  width: 100%;
}

.card-body {
  width: 670px;
  height: 420px;
}

::ng-deep .p-datatable .p-datatable-tbody > tr > td {
  font-size: 1em;
  padding: 0.5em 1em;
}
