.userAddEdit-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 15px;
}

/**********************************************************************************
* Form
/**********************************************************************************/
.form-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.form-group > label {
  margin-top: 10px;
  margin-bottom: 5px;
  width: 75px;
}

.form-group input,
.form-group ::ng-deep .p-inputtext,
.form-group ::ng-deep .p-dropdown {
  width: 215px;
}

.form-group > label, input {
  margin-right: 10px;
}

.form-group ::ng-deep .p-password {
  margin-right: 10px;
}

/**********************************************************************************
* Sections
/**********************************************************************************/
#credentials, #contact, #role {
  position:relative;
}
.section-separator:after {
  content: '';
  width: 100%;
  border-bottom: solid 1px rgba(0, 0, 0, 0.15);
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
}

.section-title {
  margin-top: 24px;
  font-weight: 500;
  font-size: 1.25em;
  text-align: left;
  margin-bottom: 12px;
}

/**********************************************************************************
* Responsiveness
/**********************************************************************************/
@media screen and ( max-width: 709px ) {
  .form-group {
    width: 100%;
  }

  .input-group {
    flex-grow: 100;
  }

  .form-group input,
  .form-group ::ng-deep .p-password,
  .form-group ::ng-deep .p-inputtext,
  .form-group ::ng-deep .p-dropdown {
    width: 100%;
  }
}

/**********************************************************************************
* Cards
/**********************************************************************************/
.card {
  max-width: 680px;
  min-height: 360px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
  position:relative;

}

.card-header {
}
.card-header .header-separator:after {
  content: '';
  width: 100%;
  border-bottom: solid 1px rgba(0, 0, 0, 0.15);
  position: absolute;
  left: 0;
  top: 60px;
  z-index: 1;
}

.card-header .card-title {
  font-weight: 500;
  font-size: 1.5em;
  text-align: center;
  padding: 6px;
}

.card-header > p {
  text-align: center;
}

.card-body {
}

.card-footer {
  margin-top: 32px;
}
.card-footer .footer-separator:after {
  content: '';
  width: 100%;
  border-bottom: solid 1px rgba(0, 0, 0, 0.15);
  position: absolute;
  left: 0;
  bottom: 70px;
  z-index: 1;
}

.card-footer ::ng-deep button {
  width: 100%;
}
