<div class="card-container">
  <div class="card">
    <div class="card-header">
      <i class="fas fa-lock-open icon-CardHeader" pTooltip="Reset Password"></i>
    </div>
    <div class="card-body">
      <mat-vertical-stepper
        [linear]=true
        id="stepper"
      >
        <!--Send Email Step-->
        <mat-step [stepControl]="sendEmailForm">
          <form [formGroup]="sendEmailForm" (ngSubmit)="sendEmail()">
            <ng-template matStepLabel>Send Email</ng-template>
            <div class="form-inputs">
              <div class="form-group">
                <label for="email1">Email</label>
                <input
                  id="email1"
                  type="text"
                  pInputText
                  formControlName="email"
                  class="w-100"
                />
                <div *ngIf="getSendEmailForm.email.touched && getSendEmailForm.email.invalid" class="text-danger">
                  <div *ngIf="getSendEmailForm.email.errors.required">Email is required.</div>
                  <div *ngIf="getSendEmailForm.email.errors.email">Email not valid.</div>
                </div>
              </div>
            </div>
            <div class="form-actions">
              <app-button-submit
                label="Send"
                [form] = sendEmailForm
                [submitting] = sendingCode
              ></app-button-submit>
            </div>
          </form>
        </mat-step>
        <!--Update Password Step-->
        <mat-step [stepControl]="updatePasswordForm">
          <form [formGroup]="updatePasswordForm" (ngSubmit)="updatePassword()">
            <ng-template matStepLabel>Update Password</ng-template>
            <div class="form-inputs">
              <div class="form-group">
                <label for="code1">Code</label>
                <input
                  id="code1"
                  type="text"
                  pInputText
                  formControlName="code"
                  class="w-100"
                />
                <div *ngIf="getUpdatePasswordForm.code.touched && getUpdatePasswordForm.code.invalid"
                     class="text-danger">
                  <div *ngIf="getUpdatePasswordForm.code.errors.required">Code is required.</div>
                </div>
              </div>
              <div class="form-group">
                <label for="password1">Password</label>
                <p-password
                  id="password1"
                  formControlName="password"
                  [toggleMask]="true"
                  [inputStyle]="{'width':'100%'}"
                  [style]="{'width':'100%'}"
                  [feedback]=false
                ></p-password>
                <div *ngIf="getUpdatePasswordForm.password.touched && getUpdatePasswordForm.password.invalid"
                     class="text-danger">
                  <div *ngIf="getUpdatePasswordForm.password.errors.required">Password is required.</div>
                </div>
              </div>
            </div>
            <div class="form-actions">
              <app-button-submit
                label="Update"
                [form] = updatePasswordForm
                [submitting] = updatingPassword
              ></app-button-submit>
            </div>
          </form>
        </mat-step>
      </mat-vertical-stepper>
    </div>
  </div>
</div>
