/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
  font-size: 0.95em;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.bg-red {
  background-color: red;
}
.bg-green {
  background-color: green;
}
.bg-blue {
  background-color: blue;
}
.border-red {
  border: 1px solid red;
}
.border-green {
  border: 1px solid green;
}
.border-blue {
  border: 1px solid blue;
}

.text-white {
  color: rgba(255, 255, 255, 1)!important;
}

.w-100 {
  width: 100%!important;
}

.fw-600 {
  font-weight:600;
}

.row-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/**********************************************************************************
* Forms
/**********************************************************************************/
.text-danger {
  font-size: 0.85em;
  color: rgba(255, 0, 0, 0.75);
  font-weight: 600;
  padding: 5px 0;
}
.form-group {
  margin: 15px 0;
}

.form-group ::ng-deep .p-inputtext {
  margin: 5px 0;
}


