/* You can add global styles to this file, and also import other style files */

* {
  line-height: normal;
  font-family: Arial , Helvetica, serif;
}

html, body {
  height: 100%;
  font-size: 0.95em;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.bg-red {
  background-color: red;
}
.bg-green {
  background-color: green;
}
.bg-blue {
  background-color: blue;
}
.border-red {
  border: 1px solid red;
}
.border-green {
  border: 1px solid green;
}
.border-blue {
  border: 1px solid blue;
}

.text-white {
  color: rgba(255, 255, 255, 1)!important;
}

.w-100 {
  width: 100%!important;
}

.fw-600 {
  font-weight:600;
}

/*.row-container {*/
/*  display: flex;*/
/*  flex-direction: row;*/
/*  flex-wrap: wrap;*/
/*}*/

/**********************************************************************************
* Cards
/**********************************************************************************/
.card-container {
  display: flex;
  justify-content: center;
}

.card-container .card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
}

.card-container .card .card-header {
  text-align: center;
  color: var(--text-color);
}

.card-container .card .card-header .title-CardHeader {
  font-weight: 600;
  font-size: 2em;
}

.card-container .card .card-header .icon-CardHeader {
  display: block;
  font-size: 3em;
}

.card-container .card .card-body .text-danger {
  color: var(--pink-500);
  padding: 5px 0;
}
.card-container .card .card-body .form-group{
  margin: 10px 0;
}
.card-container .card .card-body .form-group ::ng-deep .p-inputtext {
  margin: 10px 0;
}

